.settings {
  width: 100%;
  height: 100%;
  padding: 1em;
  position: relative;

  .back-btn {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: max-content;
    margin-bottom: 1em;
    cursor: pointer;
    position: absolute;
    inset: 1em 1em auto auto;

    img {
      width: 1rem;
    }
    p {
      color: #2d9cdb;
      font-weight: 700;
      font-size: 1.1rem;
    }
  }

  .container {
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    padding: 1.5em;
    width: max-content;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);

    p {
      text-transform: capitalize;
      font-weight: 700;
      margin-bottom: 1em;
      text-align: center;
      color: #e0e0e0;
    }
    .social-profiles {
      display: flex;
      gap: 1em;
      justify-content: space-between;

      img {
        cursor: pointer;
      }
    }
    .button-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
      margin-top: 2.5em;

      button:first-child {
        background-color: transparent;
        border: 2px solid red;
        color: red;
      }
      button:last-child {
        background-color: #2f80ed;
        color: #fff;
      }
    }
  }
}
